
<html ng-app="player">

<head>
	<title>Visualize Cricket</title>
		<link rel="stylesheet" href="./styles/bootstrap.min.css">
		<link rel="stylesheet" href="./styles/customStyles.css">
		<link rel="stylesheet" href="bower_components/ammap3/ammap/ammap.css">
		<script type="text/javascript" src="bower_components/ammap3/ammap/ammap.js"> </script>
		<script src="bower_components/ammap3/ammap/maps/js/worldLow.js"></script>

</head>
<body>

    <nav class="navbar navbar-custom navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" href="#">Visualize Cricket</a>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar">
          <ul class="nav navbar-nav pull-right">
            <li ><a href="home.html">HOME</a></li>


            <li class="active"><a href="team.html">TEAM</a></li>
            <li><a href="match.html">MATCH</a></li>
            <li><a href="player.html">PLAYER</a></li>
            <li><a href="#">ABOUT</a></li>

          </ul>

        </div>
      </div>
    </nav>
    <div class="container-fluid">
        <div class="row" ng-controller="map">

            <div class="col-sm-4">
               <center>

                      <h3>SELECT A TEAM</h3>

                      <div id="mapdiv" class="makingRelative" style=" width:90%;height:300px;"></div>
                </center>

            </div>


            <div class="col-sm-8">

                <div class="row">

                    <center> <h2>Inzamam</h2> </center>

                    <center>
                        <div class="col-sm-3">
                            <h2><small><strong>Matches PLayed</strong></small></h2>
                            <p>
                                <cite>-35</cite>
                            </p>

                        </div>
                        <div class="col-sm-2">
                            <h2><small><strong>Total Runs</strong></small></h2>
                            <p>
                                <cite>-300</cite>
                            </p>
                        </div>
                        <div class="col-sm-2">
                            <h2><small><strong>Century</strong></small></h2>
                            <p>
                                <cite>30</cite>
                            </p>
                        </div>
                        <div class="col-sm-2">
                            <h2><small><strong>Best Batting</strong></small></h2>
                            <p>
                                <cite>200 with pakistan</cite>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <h2><small><strong>Best Bowling</strong></small></h2>
                            <p>
                                <cite>4/20 west indies</cite>
                            </p>
                        </div>
                    </center>

                </div>
                <div class="row">
                    <p style="height:10px"></p>
                    <center>
                        <button type="button" class=" btn btn-default btn-info">Batting</button>
                        <button type="button" class=" btn btn-default btn-success">Bowling</button>
                    </center>
                    <p style="height:5px;"></p>
                </div>
                <div class="row" ng-controller="pagination">



                            <div ng-include src="page" class="col-sm-offset-1 col-sm-10 pull-left container"></div>

                           <center>

                                  <ul class="pagination">
                                    <li>
                                      <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                      </a>
                                    </li>
                                    <li><a  ng-click="changePage('player_bat_1.html')">1</a></li>
                                    <li><a  ng-click="changePage('player_bowl_1.html')">2</a></li>
                                    <li><a  ng-click="changePage('player_bat_2.html')">3</a></li>

                                    <li>
                                      <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                      </a>
                                    </li>
                                  </ul>

                            </center>

                </div>


            </div>

         </div>


            <script  src="./bower_components/angular/angular.js"></script>
            <script src="./bower_components/highcharts/highcharts.js"></script>
            <script src="./bower_components/highcharts/modules/heatmap.js"></script>
            <script src="./bower_components/highcharts/modules/exporting.js"></script>
            <script  src="./scripts/controller_player.js"></script>
            <script src="./bower_components/jquery-1.9.1.min/index.js"></script>
            <script  src="./scripts/bootstrap.min.js"></script>
        
  </body>
</html>    
