<html ng-app='cricket'>

    <head>
            <title>Visualize Cricket</title>
            <link rel="stylesheet" href="../styles/bootstrap.min.css">
            <link rel="stylesheet" href="../styles/customStyles.css">
            <link rel="stylesheet" href="../bower_components/ammap3/ammap/ammap.css">
            <script type="text/javascript" src="../bower_components/ammap3/ammap/ammap.js"> </script>
            <script src="../bower_components/ammap3/ammap/maps/js/worldLow.js"></script>

    </head>
    <body>
    
            
            <div class="=container-fluid">
                <div class="row" ng-controller='graph-2'> 
                   <div id="graph-2" class="col-sm-10" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
        
        
            </div>
       
        
            <script  src="../bower_components/angular/angular.js">  </script>
            <script  src="../scripts/controller.js"></script>
            <script src="../bower_components/jquery-1.9.1.min/index.js"></script>

            <script  src="../scripts/bootstrap.min.js"></script>

            <script src="../bower_components/highcharts/highcharts.js"></script>
    </body>    


</html>